<ion-view view-title="Home">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        This is a basic Card which contains an item that has wrapping text.
      </div>
    </div>
    <!--
    <ion-list id="home-list2">
      <ion-item class="item-icon-right item-avatar positive" id="home-list-item4" ui-sref="menu.history">
        <img src="img/history.png">
        <h2>History</h2>
        <p>City's history.</p><i class="icon ion-android-arrow-forward"></i></ion-item>
      <ion-item class="item-icon-right item-avatar positive" id="home-list-item4" ui-sref="menu.map">
        <img src="img/mapicon.png">
        <h2>Map</h2>
        <p>Online map powered by Google Maps.</p><i class="icon ion-android-arrow-forward"></i></ion-item>
      <ion-item class="item-icon-right item-avatar positive" id="home-list-item6" ui-sref="menu.attractions">
        <img src="img/landmark.png">
        <h2>Landmarks</h2>
        <p>View and locate attractions.</p><i class="icon ion-android-arrow-forward"></i></ion-item>
      <ion-item class="item-icon-right item-avatar positive" id="home-list-item7" ui-sref="menu.hotels">
        <img src="img/hotels.png">
        <h2>Hotels</h2>
        <p>View and locate hotels.</p><i class="icon ion-android-arrow-forward"></i></ion-item>
      <ion-item class="item-icon-right item-avatar positive" id="home-list-item8" ui-sref="menu.resorts">
        <img src="img/resorts.png">
        <h2>Resorts</h2>
        <p>View and locate resorts.</p><i class="icon ion-android-arrow-forward"></i></ion-item>
        <ion-item class="item-icon-right item-avatar positive" id="home-list-item8" ui-sref="menu.festival">
        <img src="img/pavvurulun.jpg">
        <h2>Pavvurulun Afi Festival</h2>
        <p>Ibanag culture and tradition showcase.</p><i class="icon ion-android-arrow-forward"></i></ion-item>
    </ion-list>
    -->
  </ion-content>
</ion-view>
