<ion-view view-title="Hotels">

   <ion-content padding="true" class="has-header">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="searchHotel" class="assertive">
      </label>
    </div>


     <div class="list card" ng-repeat="hotel in hotels | filter:searchHotel">
      <ion-item ng-bind="hotel.title"></ion-item>
      <div class=" item item-image">
        <img ng-src="img/{{hotel.img}}" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left assertive" ng-click="showMap(hotel.lat, hotel.lng, hotel.desc)">
        <i class="icon ion-map"></i>View Location</ion-item>
    </div>
  </ion-content>
</ion-view>
