<ion-view title="Location">
  <ion-content class="has-header" padding="true">
    <ng-map center="{{current_pos}}" style="height: 50vh" styles="{{mapStyle}}">
        <marker position="{{current_pos}}" title="hello" icon="{ url: 'img/hotel_marker.png' }"></marker>
        <directions
          draggable="true"
          panel=""
          travel-mode=""
          waypoint = "[]"
          origin="{{[current_lat,current_lng]}}"
          destination="{{current_pos}}">
        </directions>
    </ng-map>

     <div class="card">
        <div class="list">
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-location positive"></i>
                {{hotel.address}}
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-earth positive"></i>
                {{hotel.website}}
            </a>
            <a class="item item-icon-left">
                <i class="icon ion-android-call positive"></i>
                {{hotel.contact}}
            </a>
            <ion-item class="item-icon-left positive" ng-click="locateMe()">
            <i class="icon ion-map"></i>Route to Current Location</ion-item>
        </div>
    </div>
    
  </ion-content>
</ion-view>