<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="assertive">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-assertive ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Iloilo Travel App</h1>
    </ion-header-bar>
    <ion-content>
      <div class="spacer" style="width: 268px; height: 35px;"></div>
      <div>
        <img src="img/iloilo.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="width: 268px; height: 35px;"></div>
      <ion-list>
        <!--<ion-item class="item-icon-right positive" menu-close ng-click="login()">
          Login<i class="icon ion-android-arrow-forward"></i>
        </ion-item> -->
        <ion-item class="item-icon-right positive"  menu-close ui-sref="app.home">
         <i class="icon-left ion-home"></i> Home<i class="icon ion-android-arrow-forward"></i>
        </ion-item>
        <ion-item class="item-icon-right positive"  menu-close ui-sref="app.hotels">
           <i class="icon-left ion-star"></i> Hotels<i class="icon ion-android-arrow-forward"></i>
        </ion-item>
        <ion-item class="item-icon-right positive"  menu-close ui-sref="app.malls">
          <i class="icon-left ion-navicon"></i> Malls<i class="icon ion-android-arrow-forward"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
