<ion-view title="Weather">
  <ion-content padding="true" class="ion-view-background">
    <div ng-if="weatherContainer" class="assertive">
      <div class="spacer" style="width: 300px; height: 150px;"></div>
      <!--<p style="text-align:center;"><img ng-src="http://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png" alt="weather_icon"></p>-->
      <p style="font-size: 200px; text-align:center;"><i class="icon {{icon}} light"></i></p>
      <h1 id="page-heading1" style="font-weight:400;text-align:center; font-size: 100xp;">{{weatherData.main.temp}} &deg;C</h1>
      <p style="color:black;text-align:center;">{{weatherData.weather[0].description}}</p>
      <p style="color:black;text-align:center;">get at {{weatherData.dt * 1000 | date:'medium'}}</p>
    </div>
  </ion-content>
</ion-view>